include *.in
include *.md
include *.txt
include 3rd-Party.license
include LICENSE
include tox.ini
recursive-include licenses *.license
recursive-include src *.docx
recursive-include src *.js
recursive-include src *.json
recursive-include src *.md
recursive-include src *.pdf
recursive-include src *.po
recursive-include src *.pptx
recursive-include src *.pt
recursive-include src *.robot
recursive-include src *.rst
recursive-include src *.sh
recursive-include src *.svg
recursive-include src *.xlsx
recursive-include src *.xml
recursive-include src *.zcml
